/* ================= SECCIONES ================= */
.carusel-tamaño {
  height: 100vh;
  padding: 0;
  position: relative;
}

.carusel-tamaño{
  margin: 1.5rem 0;
}


.section-title {
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #9b0000;
}

/* ================= HERO ================= */

.hero-section {
  min-height: calc(100vh - 150px);
  background: linear-gradient(rgba(155, 0, 0, 0.78), rgba(0, 0, 0, 0.65)),
    url("https://images.unsplash.com/photo-1582719478250-c89cae4dc85b") center /
      cover no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
}

.hero-section h1 {
  font-weight: 800;
}

.hero-section p {
  max-width: 700px;
  margin: 1rem auto;
  font-size: 1.1rem;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 991px) {
  .hero-section {
    min-height: 70vh;
    text-align: center;
  }
}

/* ================= HERO CAROUSEL ================= */



.carusel-tamaño .carousel,
.carusel-tamaño .carousel-inner,
.carusel-tamaño .carousel-item {
  height: 100%;
}

.carusel-tamaño .hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* cambia a cover si quieres impacto */
}

/* ================= RESPONSIVE ================= */

@media (max-width: 991px) {
  .carusel-tamaño {
    margin-top: 80px;
    height: 70vh;
  }
}

