<!-- templates/fragments/footer.html -->
<div th:fragment="footer">
    <footer class="site-footer" id="bot">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4">
                    <a class="navbar-brand">
                        <img src="images/BancoSangre/logo2.png" class="logo img-fluid" alt="Kind Heart Charity"> <br>
                        <span>
                            Banco de Sangre 
                            <small>Loreto - Banco de Sangre Tipo II</small>
                        </span>
                    </a>
                </div>
    
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <h5 class="site-footer-title mb-3">Enlaces Rápidos</h5>
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="nuestra-historia.html" class="footer-menu-link">Nuestra Historia</a></li>
                        <li class="footer-menu-item"><a href="news.html" class="footer-menu-link">Noticias</a></li>
                        <li class="footer-menu-item"><a href="causas.html" class="footer-menu-link">Causas</a></li>
                        <li class="footer-menu-item"><a href="donate.html" class="footer-menu-link">Hazte Voluntario</a></li>
                        <li class="footer-menu-item"><a href="importancia-donar.html" class="footer-menu-link">Colabora con Nosotros</a></li>
                    </ul>
                </div>
    
                <div class="col-lg-4 col-md-6 col-12 mx-auto">
                    <h5 class="site-footer-title mb-3">Información de Contacto</h5>
                    <p class="text-black d-flex mb-2">
                        <i class="bi-telephone me-2"></i>
                        <a style="color: black;" href="tel:(065)123-4567">(065) 123-4567</a>
                    </p>
                    
                    <p class="text-black d-flex">
                        <i class="bi-envelope me-2"></i>
                        <a style="color: black;" href="mailto:bancodesangreloreto@gmail.com">bancodesangreloreto@gmail.com</a>
                    </p>
                    
                    <p class="text-black d-flex mt-3">
                        <i class="bi-geo-alt me-2"></i>
                        Jirón García Saénz 332 / Arica, Iquitos, Peru
                    </p>
    
                    <a href="#" class="custom-btn btn mt-3">Cómo llegar</a>
                </div>
            </div>
        </div>
    
        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-12">
                        <p class="copyright-text mb-0">Copyright © 2024 <a href="#">Banco de Sangre II de Loreto</a>. Diseño: <a target="_blank" href="#">Informatica Perú</a></p>
                    </div>
                    
                    <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="https://www.tiktok.com/@banco.de.sangre.l?_t=8rRz6xuPgDH&_r=1" class=" social-icon-link fa-brands fa-tiktok" target="_blank">
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="https://wa.me/1234567890" class="social-icon-link bi-whatsapp" target="_blank"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="https://web.facebook.com/CentroHemodadorRegionalDeLoreto" class="social-icon-link bi-facebook" target="_blank"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="https://www.instagram.com/explore/locations/681345925583057/centro-hemodador-regional-de-loreto/" class="social-icon-link bi-instagram" target="_blank"></a>
                            </li>
                            
                            <li class="social-icon-item">
                                <a href="https://www.youtube.com/channel/UC_CentroHemodadorRegionalDeLoreto"  class="social-icon-link bi-youtube" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
