<!-- templates/fragments/nav.html -->
<div th:fragment="navbar">
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-geo-alt me-2"></i>
                        Jirón García Saénz 332 / Arica, Iquitos, Peru
                    </p>

                    <p class="d-flex mb-0">
                        <i class="bi-envelope me-2"></i>
                        <a href="mailto:bancodesangreloreto@gmail.com">
                            bancodesangreloreto@gmail.com
                        </a>
                    </p>
                </div>
                    
                <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="https://www.tiktok.com/@banco.de.sangre.l?_t=8rRz6xuPgDH&_r=1" class=" social-icon-link fa-brands fa-tiktok" target="_blank">
                            </a>
                        </li>
                        <li class="social-icon-item">
                            <a href="https://wa.me/1234567890" class="social-icon-link bi-whatsapp" target="_blank"></a>
                        </li>
                        <li class="social-icon-item">
                            <a href="https://web.facebook.com/CentroHemodadorRegionalDeLoreto"
                                class="social-icon-link bi-facebook" target="_blank"></a>
                        </li>
                        <li class="social-icon-item">
                            <a href="https://www.instagram.com/explore/locations/681345925583057/centro-hemodador-regional-de-loreto/" class="social-icon-link bi-instagram" target="_blank"></a>
                        </li>
                        <li class="social-icon-item">
                            <a href="https://www.youtube.com/channel/UC_CentroHemodadorRegionalDeLoreto" class="social-icon-link bi-youtube" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="images/BancoSangre/logo2.png" class="logo img-fluid" alt="Kind Heart Charity">
                <span>
                    Banco de Sangre
                    <small>Loreto - Banco de Sangre Tipo II</small>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link click-scroll dropdown-toggle" id="inicioDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Inicio</a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="inicioDropdown">
                            <li><a class="dropdown-item" href="index.html">Inicio</a></li>
                            <li><a class="dropdown-item" href="importancia-donar.html">Importancia de donar</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link click-scroll dropdown-toggle" id="nosotrosDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Nosotros</a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="nosotrosDropdown">
                            <li><a class="dropdown-item" href="nuestra-historia.html">Historia</a></li>
                            <li><a class="dropdown-item" href="equipo-trabajo.html">Equipo de trabajo</a></li>
                            <li><a class="dropdown-item" href="sobre-nosotros.html">Sobre nosotros</a></li>
                            <li><a class="dropdown-item" href="objetivos-institucionales.html">Objetivos
                                    institucionales</a></li>
                            <li><a class="dropdown-item" href="definiciones-operacionales.html">Definiciones
                                    operacionales</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link click-scroll dropdown-toggle" id="serviciosDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="serviciosDropdown">
                            <li><a class="dropdown-item" href="admision.html">Admisión</a></li>
                            <li><a class="dropdown-item" href="triaje.html">Triaje</a></li>
                            <li><a class="dropdown-item" href="pre-tamizaje.html">Pre tamizaje</a></li>
                            <li><a class="dropdown-item" href="entrevista-medica.html">Entrevista médica</a></li>
                            <li><a class="dropdown-item" href="entrevista-psicologica.html">Entrevista psicológica</a></li>
                            <li><a class="dropdown-item" href="extraccion.html">Extracción</a></li>
                            <li><a class="dropdown-item" href="tamizaje.html">Tamizaje</a></li>
                            <li><a class="dropdown-item" href="inmunohematologia.html">Inmunohematología</a></li>
                            <li><a class="dropdown-item" href="eeb-hemocomponentes.html">Envios Hemored</a></li>
                            <li><a class="dropdown-item" href="extracciones-domiciliarias.html">Extracciones
                                domiciliarias</a></li>
                            <li><a class="dropdown-item" href="donacion-aferesis.html">Donacion de Aferesis</a></li>
                            <li><a class="dropdown-item" href="visitas-domiciliarias.html">Visitas domiciliarias</a></li>
                            <li><a class="dropdown-item" href="capacitaciones.html">Capacitaciones</a></li>
                            <li><a class="dropdown-item" href="sensibilizacion.html">Sensibilización</a></li>
                            <li><a class="dropdown-item" href="sst-gestion-seguridad.html">Seguridad y Salud en el Trabajo</a></li>
                           
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link click-scroll dropdown-toggle" id="comoDonarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Cómo Donar</a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="comoDonarDropdown">
                            <li><a class="dropdown-item" href="proceso-donar.html">Proceso de donación</a></li>
                            <li><a class="dropdown-item" href="requisitos.html">Requisitos para donar</a></li>
                            <li><a class="dropdown-item" href="horarios-ubicaciones.html">Horarios y ubicaciones</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link click-scroll dropdown-toggle" id="eventosDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Eventos</a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="eventosDropdown">
                            <li><a class="dropdown-item" href="campanas-donacion.html">Campañas de donación</a></li>
                            <li><a class="dropdown-item" href="actividades-comunitarias.html">Actividades
                                    comunitarias</a></li>
                            <li><a class="dropdown-item" href="actividades-comunitarias.html">Enfoque Intercultural</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link click-scroll dropdown-toggle" id="contactosDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Contactos</a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="contactosDropdown">
                            <li><a class="dropdown-item" href="contactanos.html">Contactos</a></li>
                            <li><a class="dropdown-item" href="#bot">Redes sociales</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link custom-btn custom-border-btn btn" href="donate.html">Donar aquí</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
