<div class="social-bar">
    <a href="https://wa.me/1234567890" class="social-icon2 whatsapp" target="_blank" title="WhatsApp">
        <i class="fa-brands fa-whatsapp"></i>
    </a>
    <a href="https://www.instagram.com/explore/locations/681345925583057/centro-hemodador-regional-de-loreto/" class="social-icon2 instagram" target="_blank" title="Instagram">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/CentroHemodadorRegionalDeLoreto?locale=es_LA" class="social-icon2 facebook" target="_blank" title="Facebook">
        <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="https://www.tiktok.com/@banco.de.sangre.l?_t=8rRz6xuPgDH&_r=1" class="social-icon2 tiktok" target="_blank" title="TikTok">
        <i class="fa-brands fa-tiktok"></i>
    </a>
    <a href="https://www.youtube.com/channel/UC_CentroHemodadorRegionalDeLoreto" class="social-icon2 youtube" target="_blank" title="YouTube">
        <i class="fa-brands fa-youtube"></i>
    </a>
</div>
